.logo{
    font-size: 2.5em;
}

.pfp{
    background-color: #878787;
    border-radius: 50%;
    width: 70px;
}

.pfp-card{
    width: 40px;
}

.error-template{
    h1{
        font-size: 95px;
    }
    h2{
        font-size: 130px;
    }
    .error-sorry{
        font-size: 40px;
    }
    .error-exception{
        font-size: 25px;
    }
}