{% extends "rers/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div>
        <h1>Se connecter</h1>
        <p>Pas encore de compte ? <a href="/register">Inscrivez-vous</a></p>
    </div>
    <form role="form" class="w-50" method="post" novalidate>{% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary mt-2" value="Se connecter" />
        </div>
    </form>
</div>


{% endblock %}