{% extends "rers/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <div>
        <h1>S'inscrire</h1>
        <p>Déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
    </div>
    <form method="post" class="form" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Inscription</button>
    </form>
</div>

{% endblock %}
