{% extends 'rers/base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center my-5">
      <h2 class="text-center">Ajouter un savoir dans la base des savoirs</h2>
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
      {% endif %}
      <form method="POST" class="w-50" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {% if field.field.widget.input_type == 'select' %}
            {{ field|add_class:"form-select" }}
          {% else %}
            {{ field|add_class:"form-control" }}
          {% endif %}
          {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
    </form>
  </div>
  
{% endblock %}
