
    {% extends 'rers/base.html' %}
    {% load widget_tweaks %}
    {% block content %}
      <div class="d-flex flex-column justify-content-center align-items-center my-5">
          <h2 class="text-center">Détails de l'offre</h2>
          <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">{{ offre.id_savoir.nom }}</h5>
              <p class="card-text"><b>Offert par :</b> {{offre.id_user.username}} <img class="pfp-card"
                src="https://robohash.org/{{offre.id_user.id}}" alt="pfp-card"></p>
              <p class="card-text"><b>Description du savoir :</b> {{offre.id_savoir.description}}</p>
              
              <p class="card-text">Demandé par :</p>
              <ul>
                
                {% for echange in echanges %}
                  <li>{{ echange.demande_by.username }} <img class="pfp-card" src="https://robohash.org/{{echange.demande_by.id}}" alt="pfp-card"></li>
                {% empty %}
                  <li>Aucune demande</li>
                {% endfor %}
              </ul>
              {% if user.is_authenticated %}
                {% if offres_utilisateur %}
                  {% if user.id != offre.id_user.id %}
                    {% if not user_in_list %}
                      <a href="{% url 'add_ask' offre.id %}" class="btn btn-primary">Faire une demande</a>
                    {% else %}
                      <a class="btn btn-primary disabled" disabled>Déjà demandé</a>
                    {% endif %}
                  {% else %}
                    <a class="btn btn-primary disabled" disabled>Vous ne pouvez pas demander votre propre offre</a>
                  {% endif %}
                {% else %}
                  <a class="btn btn-primary disabled" disabled>Vous devez offrir un savoir avant d'en demander</a>
                {% endif %}
              
              {% endif %}
              
              
            </div>
          </div>
      </div>
    {% endblock %}


