{% extends "rers/base.html" %}

{% block content %}

<div class="d-flex flex-column align-items-center my-5 ">
    <h1>RERS</h1>
    <span>La meilleur façon de partager</span>
</div>
<section class="bg-body-secondary mt-5 py-5">
    <div class="container px-4 overflow-hidden">
        <div class="row g-2">
            {% for offre in offres %}
            {% if offre.id_savoir.status != 1 %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Savoir :</b> <span>{{offre.id_savoir.nom}}</span></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><b>Offert par :</b>
                            <span>{{offre.id_user.username}}</span> <img class="pfp-card"
                                src="https://robohash.org/{{offre.id_user.id}}" alt="pfp-card"></h6>
                        <p class="card-text">{{offre.id_savoir.created_at}}</p>
                        <a href="#" class="card-link btn btn-secondary">Details</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>

    </div>

</section>


{% endblock %}