{% extends "rers/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-center">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details d-flex flex-column">
                    <span class="error-sorry">Désolé, une erreur s'est produite. La page demandée n'a pas été trouvée!</span>
                    <span class="error-exception">Erreur : {{ exception }}</span>
                </div>
                <div class="error-actions">
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg mt-5"><span class="glyphicon glyphicon-home"></span>
                        Retour à l'accueil </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
